.App {
  width: 90vw;
  height: 85vh;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

body {
  margin: 50px 70px;
  padding: 0;
}
.Sidebar {
 height: 100%;

  background-color: rgb(80, 220, 148);
  border-radius: 20px 0px 0px 20px;
}

.Sidebarul {
  height: auto;
  padding: 80px  0px 200px 30px;
  width: 100%;
 
}

.Sidebarul .row {
    position: relative;
    background-color: whitesmoke;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: rgb(80, 220, 148);
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Sidebarul .row::after {
    content: "";
  position: absolute;
  background-color: rgb(80, 220, 148);
  top: 50px;
  right: 0px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
   box-shadow: 0 -25px 0 0 whitesmoke;
 


}
 .Sidebarul .row::before {
    content: "";
  position: absolute;
  background-color: rgb(80, 220, 148);
  top: -50px;
  right: 0px;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
   box-shadow: 0 25px 0 0 whitesmoke;

}


.row #icon{
    flex:40%;
    display: grid;
    place-items: center ;
}

.row #title{
    flex:60%;
}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:baseline;
  
  
}
.sidebar{
flex:2;
}


.middle{
flex:4;
}

.cart{
  margin-top: 38px;
  height: 80%;
  background-color: rgb(231, 229, 229);
  border-radius: 20px;
  flex:2;
}
.filter{
  display: flex;
  flex-direction: row; 
  margin-bottom: 20px;
}

.text-1{
  font-size: 26px;
  
}
.input-2{  border:0px white;
  margin: 2px;
  border-radius: 10%;

}

.input{
  height: 100px;
  border:0px white;
  margin: 2px;
  border-radius: 10%;
}

.cartbox{
  border-style: dashed;
  margin: 3px;
  color: rgb(80, 220, 148);
  border: 2px dashed rgb(80, 220, 148) ;
  background-color: white;
  margin-top: 30px;
  text-align: center;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
}

.checkout-btn{
  text-align: center;
  border-radius: 10%;
  background-color: rgb(80, 220, 148) ;
  color: white;
  border: 0px;
  width: 80%;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 50px;
}

.input-1{
  border: 0;
   box-shadow: 0 25px 0 0 whitesmoke;
  background-color: whitesmoke;
}